body {
    font-family:"Avenir Next";
    background-color: rgb(231, 254, 255);
}
.header-list li {
    font-size: 20px;
    list-style:none;
    float:left;
    padding: 30px 20px 30px 20px;
    color: white;
}
.header-list ul li:hover{
    background: rgb(97, 179, 255);
}
.header {
    background-color:rgb(17, 38, 100);
    height: 80px;
}
.nav-link:hover {
    font-weight: 600;
    border-bottom: 1px solid white;
    margin-bottom: -1px;
}
#foto {
    margin-right: 130px;
}
.copy-container {
    padding:100px 80px 100px 80px;
}
.copy-container h4 {
    font-size: 60px;
}
.copy-container p {
    font-size:25px;
}
.copy-container img {
    float:right;
    width: 390px;
    height: 550px;
}
.contact {
    margin-top: 50px;
    background-image: url('bg.png');
    border-top:10px solid yellow;
}
.footer {
    height: 270px;
}
.footer-logo h3 {
    padding-top: 50px;
    font-size: 25px;
    color: white;
}
.footer-list li{
    list-style:none;
}
.footer-list img {
    cursor: pointer;
    float:left;
    color: black;
}
.footer-list h4 {
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 20px;
    padding:10px 10px 10px 50px;
    color: white;
}